* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
}

.nav {
  width: 20%;
  height: 100vh;
  background-color: #005086;
  color: #F2F5F7;
  position: fixed;
  border-right: 2px solid #F2F5F7;
}
.nav h2 {
  margin-top: 20px;
}
.nav h2, .nav h4 {
  margin-left: 40px;
  margin-bottom: 10px;
}
.nav ul {
  list-style-type: none;
}
.nav li {
  padding: 40px 0 40px 0;
}

.nav__header {
  padding-bottom: 10px;
  border-bottom: 3px solid #F2F5F7;
}

.nav__link {
  color: #F2F5F7;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
}

.nav__socialLink {
  color: #F2F5F7;
  font-size: 48px;
  padding: 20px;
}

.nav__socialsLinks li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-left: 20%;
  width: 80%;
  height: 100vh;
}

.page_header {
  color: #005086;
  background-color: #AFC1D0;
  padding: 10px 0 10px 10px;
  font-size: 40px;
  font-style: normal;
  font-weight: 320;
}

.image {
  position: relative;
  height: 100vh;
}

.image__file {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.image__text {
  color: #F2F5F7;
}

.image__text {
  color: #F2F5F7;
  position: absolute;
  top: 50%;
  left: 58.5%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

@media screen and (max-width: 781px) {
  body {
    flex-direction: column;
  }

  .nav {
    width: 100vw;
    height: 25vh;
  }

  main {
    width: 100vw;
    height: 50vh;
  }

  section {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (max-width: 500px) {
  body {
    flex-direction: column;
  }

  .nav {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

  main {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  section {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
}