* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
}

.nav {
  width: 20%;
  height: 100vh;
  background-color: #005086;
  color: #F2F5F7;
  position: fixed;
  border-right: 2px solid #F2F5F7;
}
.nav h2 {
  margin-top: 20px;
}
.nav h2, .nav h4 {
  margin-left: 40px;
  margin-bottom: 10px;
}
.nav ul {
  list-style-type: none;
}
.nav li {
  padding: 40px 0 40px 0;
}

.nav__title a {
  text-decoration: none;
  color: #F2F5F7;
}

.nav__header {
  padding-bottom: 10px;
  border-bottom: 3px solid #F2F5F7;
}

.nav__link {
  color: #F2F5F7;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
}

.nav__socialLink {
  color: #F2F5F7;
  font-size: 48px;
  padding: 20px;
}

.nav__socialsLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section {
  margin-left: 20%;
  width: 80%;
  height: 100vh;
}

.page__header {
  color: #005086;
  background-color: #AFC1D0;
  text-transform: uppercase;
  padding: 10px 0 10px 10px;
  margin-bottom: 30px;
  font-size: 40px;
  font-style: normal;
  font-weight: 320;
}

.image {
  position: relative;
  height: 100vh;
}

.image__file {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.image__text {
  color: #F2F5F7;
}

.image__text {
  color: #F2F5F7;
  position: absolute;
  top: 50%;
  left: 58.5%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.about__text {
  margin: 0 15px 0 15px;
  padding-left: 15px;
  font-size: 25px;
  font-weight: 320;
  border-left: 4px solid #005086;
}

.portfolio__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.portfolio__card {
  width: 400px;
  height: 400px;
  margin: 1rem 1rem 1rem 1rem;
  perspective: 1500px;
}
.portfolio__card .card__content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.details {
  display: none;
}
.details:checked ~ .card__content {
  transform: rotateY(180deg);
}

.card__front, .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.card__front .card__inner, .card__back .card__inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}

.card__front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}
.card__front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  backface-visibility: hidden;
  background: linear-gradient(40deg, #005086, rgba(255, 242, 166, 0.7));
}
.card__front .card__inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
}
.card__front h2 {
  grid-row: 2;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.card__front .tech_Stack {
  grid-row: 3;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
}
.card__front .tech_Stack i {
  margin: 0 7px;
}

.card__back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid #f0f0f0;
}
.card__back .card__inner {
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 0.8rem;
  justify-items: center;
}
.card__back .project_Link {
  display: flex;
  color: #005086;
  grid-row: 1;
}
.card__back .project_Link i {
  font-size: 2.5rem;
}
.card__back .project_Link i:before {
  background: linear-gradient(40deg, #005086, #438af3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card__back .project_Link .icon {
  display: flex;
  margin-left: 90px;
}
.card__back .project_Description {
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column: 1/-1;
  font-size: 0.86em;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1.4em;
  overflow: auto;
  color: #005086;
  padding-right: 10px;
}
.card__back .button {
  grid-column: 1/-1;
  justify-self: center;
}

.button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5rem;
  height: 3em;
  line-height: 2.9rem;
  min-width: 3rem;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: #005086;
}
.button.return {
  line-height: 3rem;
  color: #005086;
  border-color: #005086;
  text-shadow: none;
}
.button.return:hover {
  background-color: #005086;
  color: #fff;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #008dec;
}

::-webkit-scrollbar-thumb:hover {
  background: #005086;
}

@media screen and (max-width: 781px) {
  body {
    flex-direction: column;
  }

  .nav {
    width: 100vw;
    height: 25vh;
  }

  main {
    width: 100vw;
    height: 50vh;
  }

  section {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (max-width: 500px) {
  body {
    flex-direction: column;
  }

  .nav {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0;
  }

  main {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  section {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
}