* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
}

.nav {
  width: 20%;
  height: 100vh;
  background-color: #005086;
  color: #F2F5F7;
  position: fixed;
}
.nav h2 {
  margin-top: 20px;
}
.nav h2, .nav h4 {
  margin-left: 40px;
  margin-bottom: 10px;
}
.nav ul {
  list-style-type: none;
}
.nav li {
  padding: 40px 0 40px 0;
}

.nav__link {
  color: #F2F5F7;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
}

.nav__socialLink {
  color: #F2F5F7;
  font-size: 48px;
  padding: 20px;
}

.nav__socialsLinks li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.verticalLine {
  border-left: 2px solid #F2F5F7;
  margin-left: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.image {
  height: 100vh;
}

.image__file {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.image__text {
  color: #F2F5F7;
}

.image__text {
  color: #F2F5F7;
  position: absolute;
  top: 50%;
  left: 58.5%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

section {
  margin-left: 21%;
  width: 80%;
  height: 100vh;
}